@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.wrapper {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	background: #f2f2f2;
}

.block {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sidebar {

	display: flex;
	flex-direction: column;
	width: 400px;
	background: #383838;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.header {
	justify-content: space-between;
	display: flex;
	align-items: center;
	height: 100px;
	background: #fff;

	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

}

.content {
	flex: 1;
	overflow: auto;
	padding: 20px 45px;
}

/*menu*/

.menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 30px;
}

.menu-item {
	display: flex;
	width: 340px;
	height: 70px;
	border-bottom: 1px solid rgba(242, 242, 242, 0.1);
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}


.menu-item :hover,
.menu-item-active {
	color: rgba(255, 255, 255, 1);
	background: rgba(255, 255, 255, 0.05);
}


.menu-item:last-child {
	border-bottom: none;
}

.menu-item a {
	display: flex;
	text-decoration: none;
	color: #b7b7b7;
	padding: 15px;
	width: 100vw;
	align-items: center;
	font-size: 18px;
	text-transform: uppercase;
}

/*logo*/

.logo a {
	display: flex;
	width: 210px;
	height: 67px;
	margin-top: 60px;
	background: url(images/subtract.svg);
}

/*header*/

.search-section {
	display: flex;
	align-items: center;
	width: 777px;
	height: 40px;
	border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.search-icon {
	width: 24px;
	height: 24px;
	background: url(images/search_icon.svg);
}

.search {
	display: flex;
	margin-left: 43px;
}

.input {
	height: 100%;
	display: flex;
	padding-left: 17px;
	align-items: center;

}

.input-text {
	height: 100%;
	width: 492px;
	border: none;
	background: none;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
}

.header-button {
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
}

.search-button {
	padding-left: 15px;
}

.search-button input {
	border-radius: 7px;
	color: #fff;
	border: none;
	background: #e7a04e;
	width: 89px;
	height: 40px;

}

.add-movie-button {
	display: flex;
	padding-right: 51px;
}

.add-movie-button input {
	color: #fff;
	border: none;
	background: #4ee7b0;
	border-radius: 7px;
	width: 158px;
	height: 40px;
}

.like-button {

}

.like {
	width: 51px;
	height: 51px;
	cursor: crosshair;
	display: flex;
	margin: 23px
}

.rating {
	background: url("/images/rating.svg");
	width: 55px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	color: #fff;
	margin-left: 12px;
}

.age-restriction {
	background: rgba(242, 242, 242, 0.1);
	border: 3px solid #ccc;
	border-radius: 7px;
	width: 39px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #ccc;
}

.title {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #999;
}

.film-title {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 65px;
	color: #333;
	width: 720px;
	height: 64px;
}

.poster {
	background: url("images/poster.svg") no-repeat;
	width: 469px;
	height: 720px;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-right: 50px;
}

.content-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 166px;
	border-bottom: 1px solid #ccc;
}

.film-card {
	display: flex;
	margin-top: 32px;

}

.film-info {
	padding-left: 40px;
}

.en-title {
	display: flex;
	align-items: center;
}

.age-restriction {
	margin-left: 20px;
}


.description-text {
	width: 577px;
}

.film-rating-content {
	display: flex;
	align-items: center;
}

.description-title,
.film-about {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #333;
}

.film-info-content {
	display: flex;
	flex-direction: column;
}
.film-about-wrapper {
	display: flex;
	margin-top:22px;
}

.list-title {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #666666;
	width: 144px;
}

.list-name {
	margin-left: 75px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	width: 392px;
}





li {

	margin-bottom: 15px
}

.film-description-content {
	margin-top :25px;
}

.description-text {
	margin-top: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	/* or 156% */


	color: #000000;
}